
.location{
background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
url("./Pics/loc.jpg");
background-position:center ;
background-size: cover;
text-align: center;
color: aliceblue;
padding-top: 20px;
}
.location i{
    color:seagreen;
}
.location h1{
    color:chocolate;
}
iframe{
    margin-top: 20px;
    width: 100%;
    height: 60vh;
}
/* mediaqueries for contactus*/
@media screen and (min-width: 1290px) {
.location div{
    padding: 20px 400px;
}
}
@media screen and (max-width: 1290px) {
.location div{
    padding: 20px 380px;
}
}
@media screen and (max-width: 1240px) {
.location div{
    padding: 20px 340px;
}
}
@media screen and (max-width: 1190px) {
.location div{
    padding: 20px 300px;
}
}
@media screen and (max-width: 1190px) {
.location div{
    padding: 20px 300px;
}
}
@media screen and (max-width: 1000px) {
.location div{
    padding: 20px 250px;
}
}
@media screen and (max-width: 850px) {
.location div{
    padding: 20px 180px;
}
}
@media screen and (max-width: 700px) {
.location div{
    padding: 20px 70px;
}
}
@media screen and (max-width: 700px) {
.location div{
    padding: 20px 70px;
}
}
@media screen and (max-width: 550px) {
    .location div{
        padding: 20px 20px;
}
}
