fieldset{
    width: 50%;
}
#sec1{
    background-image:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(pics/b.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 900px;
    color: white;
    font-weight: bold;
    padding-top: 100px;
}
a{
    text-decoration: none;
}
input{
    border-radius: 5px;
}