*{
    margin: 0px;
    padding: 0px;
    font-family:'Poppins',Arial, Helvetica, sans-serif;
    background-color:gainsboro;
}
.container{
    width: 100%; 
    
}
.Billing-info{
    width: 33%;
    margin: 50px auto 50px auto;
    border-radius: 5px;
}

h1{
    text-align: center;
    margin: 20px 0px 20px 0px;
    background-color: #eab0d6;
}
/* .tables form{
    width: 100%;
    background-color: #eab0d6;
    margin: auto;
}
*/
.form .form-col{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}
.form .form-row{
    margin: 5px 0px 5px 0px;
}
.form .form-row input{
    width: 30%;
    padding: 5px;
    outline: none;
    border-bottom: 1px solid gray;
    border-radius: 5px;
    background-color: #eab0d6;
}
.form .form-row .label-order{
    margin-right: 7px;
}
.form .form-row .label-name{
    margin-right: 67px;    
}
.form .form-row .label-cnic{
    margin-right: 71px;
}
h2{
    text-align: left;
    margin: 20px 0px 10px 0px;
}
table{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
}
table tr th{
    padding: 10px;
    text-align: left;
    background-color:rgb(165, 189, 233) ;
    border-radius: 5px;
}
tr td{
    width: 100%;
}
tbody tr td input{
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 1px 2px 1px 2px;
    background-color: #eab0d6;
}
.btn{
    text-align: right;
    margin-top: 5px;
}
.btn button{
    padding: 5px;
    font-size: 18px;
    margin: auto;
    border-radius: 5px;
    color: black;
}
.btn button:hover{
    color: white;
    background-color: black ;
}